#root {
  min-height: 100%;
  position: relative;
}

nav {
  padding: 20px;
  background: $gray-light;
  margin-bottom: 40px;
}

.active {
  color: $blue;
}

.no-transition * {
  transition: none !important; 
}