.thumbnailItem {
    position: absolute;
    background-color: white;
    background-size: cover;
    background-position: center;
    overflow-y: inherit;
    border-radius: 0px;
    cursor: pointer;
}

.galleryColumn {
    position: relative;
    overflow: visible;
    transition: all .4s ease;
}