@import 'consts.scss';

:global {
  div.pro-gallery {
    .gallery-item-container {

      .gallery-item-hover.hovered,
      &:hover .gallery-item-hover:not(.hide-hover) {

        transition: none;

        &:before {
          background: $bg-dark-opacity;
        }

        .gallery-item-social-button,
        .gallery-item-title,
        .gallery-item-description,
        .custom-button-wrapper,
        .gallery-item-social-share-box:not(.hidden) {
          transition: inherit;
          opacity: 1 !important;
        }
      }

      &.hover-animation-slide-up {
        .gallery-item-hover:not(.hide-hover) {
          &:before {
            transform: translateY(100%);
          }
        }

        .gallery-item-hover.hovered,
        &:hover .gallery-item-hover:not(.hide-hover) {
          * {
            transition: opacity .2s ease .6s !important;
          }

          &:before {
            transition: transform .8s ease !important;
            transform: translateY(0);
          }
        }
      }

      &.hover-animation-expand {
        .gallery-item-hover:not(.hide-hover) {
          &:before {
            transform: scale(0);
            border-radius: 100%;
          }
        }

        .gallery-item-hover.hovered,
        &:hover .gallery-item-hover:not(.hide-hover) {
          * {
            transition: opacity .2s ease .6s !important;
          }

          &:before {
            transition: transform .8s ease, border-radius .8s ease !important;
            transform: scale(1);
            border-radius: 0;
          }
        }
      }

      &.zoom-in-on-hover {
        &:hover .gallery-item-content {
          //TODO: do not work on text item
          transition: transform .8s ease !important;
          transform: scale(1.2);
          //TODO: because of the z-index, the overlay on hover is not shown
          z-index: 99999;
        }
      }

      &.blur-on-hover {
        &:hover .gallery-item-content {
          transition: filter .8s ease !important;
          filter: blur(10px);
        }
      }

      &.grayscale-on-hover {
        &:hover .gallery-item-content {
          //TODO: do not work on text item
          transition: filter .8s ease !important;
          filter: grayscale(1);
        }
      }

      &.expand-on-hover {
        &:hover {
          transition: transform .8s ease !important;
          transform: scale(1.2);
        }
      }

      &.colorize-on-hover {
        .gallery-item-wrapper {
          filter: grayscale(1);
        }

        &:hover .gallery-item-wrapper {
          transition: filter .8s ease !important;
          filter: grayscale(0);
        }
      }
    }
  }
}
