@import 'consts.scss';

:global {
  div.pro-gallery {
    .gallery-item-container {

      .gallery-item-hover.hovered,
      &:hover .gallery-item-hover:not(.hide-hover) {

        transition: none;

        &:before {
          background: $bg-dark-opacity;
        }

        .gallery-item-social-button,
        .gallery-item-title,
        .gallery-item-description,
        .custom-button-wrapper,
        .gallery-item-social-share-box:not(.hidden) {
          transition: inherit;
          opacity: 1 !important;
        }
      }

      //===================================================================
      //overlay animations

      &.hover-animation-fade-in {
        .gallery-item-hover:not(.hide-hover) {
          &:before {
            filter: opacity(0);
          }
        }

        .gallery-item-hover.hovered,
        &:hover .gallery-item-hover:not(.hide-hover) {
          * {
            transition: opacity .4s ease !important;
          }

          &:before {
            transition: filter .4s ease !important;
            filter: opacity(1);
          }
        }
      }

      &.hover-animation-expand {
        .gallery-item-hover:not(.hide-hover) {
          &:before {
            transform: scale(0.9);
            filter: opacity(0);
          }
        }

        .gallery-item-hover.hovered,
        &:hover .gallery-item-hover:not(.hide-hover) {
          * {
            transition: opacity .4s ease !important;
          }

          &:before {
            transition: transform .4s ease, filter .2s ease !important;
            transform: scale(1);
            filter: opacity(1);
          }
        }
      }

      &.hover-animation-slide-up {
        .gallery-item-hover:not(.hide-hover) {
          &:before {
            transform: translateY(30%);
            filter: opacity(0);
          }
        }

        .gallery-item-hover.hovered,
        &:hover .gallery-item-hover:not(.hide-hover) {
          * {
            transition: opacity .4s cubic-bezier(.3,.13,.12,1) !important;
          }

          &:before {
            transition: transform .4s cubic-bezier(.3,.13,.12,1), filter .05s ease !important;
            transform: translateY(0);
            filter: opacity(1);
          }
        }
      }

      &.hover-animation-slide-right {
        .gallery-item-hover:not(.hide-hover) {
          &:before {
            transform: translateX(-100%);
            filter: opacity(0);
          }
        }

        .gallery-item-hover.hovered,
        &:hover .gallery-item-hover:not(.hide-hover) {
          * {
            transition: opacity .4s cubic-bezier(.3,.13,.12,1) !important;
          }

          &:before {
            transition: transform .4s cubic-bezier(.3,.13,.12,1), filter .05s ease !important;
            transform: translateX(0);
            filter: opacity(1);
          }
        }
      }

      //&.hover-animation-radius {
      //  .gallery-item-hover:not(.hide-hover) {
      //    &:before {
      //      transform: scale(0);
      //      border-radius: 100%;
      //    }
      //  }
      //
      //  .gallery-item-hover.hovered,
      //  &:hover .gallery-item-hover:not(.hide-hover) {
      //    * {
      //      transition: opacity .2s ease .6s !important;
      //    }
      //
      //    &:before {
      //      transition: transform .8s ease, border-radius .8s ease !important;
      //      transform: scale(1);
      //      border-radius: 0;
      //    }
      //  }
      //}



      //===================================================================
      //image hover animations

      &.zoom-in-on-hover:not(.hide-hover) {
        &.hovered,
        &:hover {
          .gallery-item-content {
            transition: transform 2.2s cubic-bezier(.14,.4,.09,.99) !important;
            transform: scale(1.1);
          }
        }
      }

      &.blur-on-hover:not(.hide-hover) {
        &.hovered,
        &:hover {
          .gallery-item-content {
            .gallery-item {
              transition: filter .2s linear !important;
              filter: blur(6px);
            }
          }
        }
      }

      &.grayscale-on-hover:not(.hide-hover) {
        &.hovered,
        &:hover {
          .gallery-item-content {
            transition: filter .6s ease !important;
            filter: grayscale(1);
          }
        }
      }

      &.shrink-on-hover:not(.hide-hover) {
        &.hovered,
        &:hover {
          .gallery-item-content {
            transition: transform .2s ease !important;
            transform: scale(0.985);
          }
          .gallery-item-hover:not(.hide-hover) {
            transition: transform .2s ease !important;
            transform: scale(0.985);
          }
        }
      }

      &.invert-on-hover:not(.hide-hover) {
        &.hovered,
        &:hover {
          .gallery-item-content {
            transition: filter .6s ease !important;
            filter: invert(1);
          }
        }
      }

      &.color-in-on-hover {
        .gallery-item-content {
          filter: grayscale(1);
        }

        &.hovered:not(.hide-hover),
        &:hover:not(.hide-hover) {
          .gallery-item-content {
            transition: filter .6s ease !important;
            filter: grayscale(0);
          }
        }
      }

      //&.slide-up-on-hover {
      //  &.hovered,
      //  &:hover {
      //    transition: transform .8s ease !important;
      //    transform: translateY(-5%);
      //  }
      //}

      //&.expand-on-hover {
      //  &.hovered,
      //  &:hover {
      //    transition: transform .4s ease !important;
      //    transform: scale(1.03);
      //    z-index: 9999;
      //  }
      //}
    }
  }
}
