.title {
  text-align: center;
  line-height: 3em;
  margin-top: 0px;
  margin-bottom: 0;
}

.controls {
  padding: 2px 8px 5px;
}

.code {
  width: 419px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #eee;
  border-top: 1px solid #ccc;
}

.report {
  width: 420px;
  margin: -15px 0px 10px;
  display: block;
  text-align: center;
  color: #999;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

// :global {
//   .ant-select-dropdown-menu {
//     max-height: 100% !important;
//   }
// }