.title {
  text-align: center;
  line-height: 3em;
  margin-top: 0px;
  margin-bottom: 0;
}

.controls {
  padding: 2px 8px 5px;
}

.code {
  width: 411px;
  position: fixed;
  bottom: 0px;
  background: #eee;
  border-top: 1px solid #ccc;
}

// :global {
//   .ant-select-dropdown-menu {
//     max-height: 100% !important;
//   }
// }