.title {
  text-align: center;
  line-height: 3em;
  margin-top: 0px;
  margin-bottom: 0;
}

.controls {
  padding: 2px 8px 5px;
}

:global {
  .ant-select-dropdown-menu {
    max-height: 100% !important;
  }
}