div.gallery {
  display: grid;
  
  a.cell {
    overflow: hidden;
    position: relative;
    display: block;
    
    div.imageWrapper {
      position: relative;
      overflow: hidden;

      &:hover::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
      }

      img.image {
        object-fit: cover;
      }
    }
  }
}
