:global {
  div.lean-gallery-gallery {
    display: grid;

    a.lean-gallery-cell {
      overflow: hidden;
      position: relative;
      display: block;

      div.lean-gallery-image-wrapper {
        position: relative;
        overflow: hidden;

        &:hover::before {
          content: ' ';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: transparent;
        }

        img.lean-gallery-image {
          object-fit: cover;
        }
      }
    }
  }
}
