# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.13.0]
    steps:
    - uses: actions/checkout@v2
    - name: Install and run lint
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run lint

  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.13.0]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    steps:
    - uses: actions/checkout@v2
    - name: Install, build, configure git and lerna publish
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        registry-url: 'https://registry.npmjs.org'
    - run: npm ci
    - run: npm run build --if-present
    - run: git config --global user.email "octocat@github.com"
    - run: git config --global user.name "GitHub Actions"
    - run: git remote set-url origin https://wix@github.com/wix/pro-gallery
    - run: |
        echo "registry=http://registry.npmjs.org/" >> .npmrc
        echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> .npmrc
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    - name: Push to master
      if: github.event_name == 'push'
      # run: echo "this is a push to master"
      run: |
        git checkout master
        lerna publish patch --exact  --yes --registry https://registry.npmjs.org
        npm run changelog
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    - name: Push to pull request
      if: github.event_name == 'pull_request' && github.actor != 'dependabot' 
      # run: echo "PULL REQUEST PUSH"
      run: lerna publish --canary --preid ${{ github.sha }} --yes --registry https://registry.npmjs.org
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
  update-playground:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    needs: [lint]
    strategy:
      matrix:
        node-version: [16.13.0]
    steps:
    - uses: actions/checkout@v2
    - name: update-playground
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        registry-url: 'https://registry.npmjs.org'
    - run: npm ci
    - run: npm run build --if-present
    - run: node scripts/deployToSurge
      env:
        SURGE_LOGIN: ${{ secrets.SURGE_LOGIN }}
        SURGE_TOKEN: ${{ secrets.SURGE_TOKEN }}


